<table border="10">
		<thead>
			<tr>
				<th>Name</th>
				<th>Client</th>
				<th>Description</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Status</th>
				<th>Budget</th>
				<th>Actions</th>

			</tr>
		</thead>
		<% @projects.each do |project| %>
			<tr>
				<td><%= project.name %></td>
				<td><%= project.client.nil? ? "N/A" : project.client.name  %></td>
				<td><%= project.description %></td>
				<td><%= project.start_date.strftime("%A, %d %B %y") %></td>
				<td><%= project.end_date.strftime("%A, %d %B %y") %></td>
				<td><%= project.status %></td>
				<td><%= project.budget %></td>
				<td><%= link_to "Show", project_path(project.id) %>
			</tr>
			<% end %>

