<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<% if @company.employees.empty? %>
	No Employees In Company 
<% else %>
	<h3> Total Employees : <%= @company.employees.size %></h3>
	<ul>
		<% @company.employees.each do |employee| %>
			<li><%= link_to employee.first_name + employee.last_name, employee_path(employee.id) %></li>
		<% end %>
	</ul>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
